<short-summary>
    <p>Find the order of the tower.</p>
</short-summary>

<detailed-instructions>
    <h3>Find the order of the tower.</h3>
    <p>
      <ul>
        <li>      Given a image containing cubes on the ground,
                  and a description of a tower, built from those cubes, written by another Turker, 
                  find the color of each cube from the bottom to the top of the tower.
        </li>
        <li>      NOT all fields must be changed. Once you think you have listed all cubes, leave other fields unchanged.
        </li>
      <>/ul>
    </p>
</detailed-instructions>

<positive-example>
    <h3>Image</h3>
    <img src="https://nalanbot-images.s3.amazonaws.com/tower03_00000_first.jpg"
         alt="The cubes are crumbled" />

    <h3>Description</h3>
    <p>Take the leftest cube and stack it on top of the yellow cube. Then take the last cube and release it on top of the other ones.</p>

    <h3>Response</h3>
    <p> Yellow, Orange, Blue.
    </p>


</positive-example>

<positive-example>
    <h3>Image</h3>
    <img src="https://nalanbot-images.s3.amazonaws.com/tower04_00359_first.jpg"
         alt="The cubes are crumbled" />

    <h3>Description</h3>
    <p>You must take the violet cube and move it on top of the red cube.
       Thereafter, you grasp the cube at the right side of the scene 
       and you leave it on top of the two first cubes.
       Finally, you take the indigo cube and you place it on top of the other cubes.
    </p>

    <h3>Response</h3>
    <p>  Red, Violet, Green, Indigo.
    </p>
</positive-example>

<negative-example>
    <h3>Image</h3>
    <img src="https://nalanbot-images.s3.amazonaws.com/tower03_00002_first.jpg"
         alt="The cubes are crumbled" />

    <h3>Description</h3>
    <p>The colors of the cubes are, starting from its top, a white cube, a violet cube and finally a yellow cube.</p>

    <h3>Response</h3>
    <p> White, Violet, Yellow.</p>

    <h3>Why is it wrong?</h3>
    <p> The colors are correct, but the order is from the top to the bottom, while it should be from the bottom to the top.</p>
</negative-example>
