{% extends 'mturk.html' %}

{% block page %}
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
  </head>
<body>
  <crowd-form answer-format="flatten-objects">

    <h3>Image</h3>
    <p>
    <img src="{{ image }}" alt="Crumbled cubes" />
    </p>

    <h3>Task</h3>
    <p><b>Please read the instructions before starting the task!</b>
    <crowd-instructions link-text="View instructions" link-type="button">
        {% block instructions %}
              {% include 'check-instructions.html' %}
        {% endblock %}
    </crowd-instructions>

    <h3>Description</h3>
    <p>{{ instruction }}</p>

    <h3>Response</h3>
    <p>Read an instruction of building towers of blocks and indicate the colors of the tower from bottom to top.
    </p>
    
  {% for i in range(6) %}
    {% with step=i %}
      {% include "radio-colors.html" %}
    {% endwith %}
  {% endfor %}

  </crowd-form>
</body>
</html>
{% endblock %}
