{% extends 'mturk.html' %}

{% block page %}
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
  </head>
<body>
  <crowd-form answer-format="flatten-objects">

    <crowd-instructions link-text="View instructions" link-type="button">
        {% block instructions %}
              {% include 'description-instructions.html' %}
        {% endblock %}
    </crowd-instructions>

    <h3>Image:</h3>
    <p>
    <img src="{{ image }}" alt="Stacked cubes" />
    </p>

    <h3>Response:</h3>

    <p>Describe the image, such as a child can rebuild the exact same tower following your description.</p>
    
    <crowd-text-area auto-focus name="description1" placeholder="Description 1..." required></crowd-text-area>
    <crowd-text-area name="description2" placeholder="Description 2..." required></crowd-text-area>
    <crowd-text-area name="description3" placeholder="Description 3..." required></crowd-text-area>

    <script type="text/javascript">
      function validateForm() {
        values = []
        valide = true;
        document.querySelectorAll("crowd-text-area").forEach((t) => {
            value = t.value.trim();
            if (value.length < 20 || values.includes(value)) {
              valide = false;
            } 
            values.push(value);
          }
        )
        return valide;
      }
    document.querySelector('crowd-form').onsubmit = function(e ) {
      if (!validateForm()) {
          alert("Please follow instructions");
          e.preventDefault();
      }
    }
    </script>

  </crowd-form>
</body>
</html>
{% endblock %}
