<short-summary>
    <p>Describe an image such as someone else could reconstruct it by following your description.
    </p>
</short-summary>

<detailed-instructions>
    <h3>Describe an image such as someone else could reconstruct it by following your description.
    </h3>
    <p>
      <ul>
        <li>      The image contains cubes stacked upon each other.
        </li>
        <li>      Another Turker will be giving your description and must reconstruct exactly the tower.
        </li>
        <li>      The description must contain complete sentences.
        </li>
        <li>      Do NOT describe the background or the position of the tower on the scene.
        </li>
      </ul>
    </p>
</detailed-instructions>

<positive-example>
    <h3>Image</h3>
    <img src="https://nalanbot-images.s3.amazonaws.com/tower03_00000_last.jpg"
         alt="The cubes are stacked" />

    <h3>Response</h3>
    <p>    The tower has a yellow cube. On the top of the yellow cube, there is an orange cube and then a blue cube.
    </p>

</positive-example>

<positive-example>
    <h3>Image</h3>
    <img src="https://nalanbot-images.s3.amazonaws.com/tower04_00359_last.jpg"
         alt="The cubes are stacked" />

    <h3>Response</h3>
    <p>   This a tower made from cubes. Starting from the bottom, the color of these cubes are red, violet, green and indigo.
    </p>
</positive-example>

<negative-example>
    <h3>Image</h3>
    <img src="https://nalanbot-images.s3.amazonaws.com/tower03_00002_last.jpg"
         alt="The cubes are stacked" />

    <h3>Response</h3>
    <p>The tower is made with a white cube, a violet cube and a yellow cube.</p>

    <h3>Why is it wrong?</h3>
    <p>This does not explain the order of the cubes.</p>
</negative-example>
