<short-summary>
    <p>Provide a step-by-step instruction of how to build the tower of blocks.</p>
</short-summary>

<detailed-instructions>
    <h3>Provide a step-by-step instruction of how to build the tower of blocks.</h3>
    <p>
      <ul>
        <li>      Given an image containing cubes of different colors on the ground,
                  and another image with the same cubes stacked upon each other, 
                  <em>write step-by-step instructions explaining how to build the tower</em>.
        </li>
        <li>      You may use references to the cubes, such as "it", "the other cube", 
                  or even spatial references such as "the leftmost cube".
        </li>
        <li>      <b>IMPORTANT:</b> Only ONE cube can be moved at any time.
        </li>
        <li>      We will manually check all instructions. They should be clear enough
                  for another person to read and build the tower.
        </li>
        <li>      Note that this task is not suitable for color-blind/visually-impaired people.
        </li>
      </ul>
    </p>
</detailed-instructions>

<positive-example>
  <div style="display: flex;">
    <div style='width: 200px;'>
    <h3>Before</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_03_00000_first.jpg" width="200px"
         alt="The cubes are crumbled" />
    </div>

    <div style='flex-grow: 1;'>
    <h3>After</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_03_00000_last.jpg" width="200px"
         alt="The cubes are stacked" />
    </div>
  </div>

    <h3>Correct response</h3>
    <p>Move the orange block on top of the green block. Then, place the white cube on top of the orange.</p>

    <h3>Correct response</h3>
    <p>Place the orange block on the green one. Then, place the white one on top of the other two.</p>

    <h3>Correct response</h3>
    <p>First keep the orange block on top of the green cube, then move the white cube on top of the orange cube.</p>

    <h3>Correct response</h3>
    <p>Take the leftmost cube and stack it on top of the green cube. Then take the last cube and release it on top of the others.</p>
</positive-example>

<positive-example>
  <div style="display: flex;">
    <div style='width: 200px;'>
    <h3>Before</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_04_00001_first.jpg" width="200px"
         alt="The cubes are crumbled" />
    </div>

    <div style='flex-grow: 1;'>
    <h3>After</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_04_00001_last.jpg" width="200px"
         alt="The cubes are stacked" />
    </div>
  </div>

    <h3>Correct response</h3>
    <p>You must take the violet cube and move it on top of the red cube.
       Thereafter, you grasp the cube at the right side of the scene 
       and you leave it on top of the two first cubes.
       Finally, you take the indigo cube and you place it on top of the other cubes.
    </p>

    <h3>Correct response</h3>
    <p>The violet cube must be moved on top of the red cube. Then, the green cube is displaced on top
       of them, before displacing the last block at the top of the tower.
    </p>
</positive-example>

<negative-example>
  <div style="display: flex;">
    <div style='width: 200px;'>
    <h3>Before</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_03_00001_first.jpg" width="200px"
         alt="The cubes are crumbled" />
    </div>

    <div style='flex-grow: 1;'>
    <h3>After</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_03_00001_last.jpg" width="200px"
         alt="The cubes are stacked" />
    </div>
  </div>

    <h3>Wrong Response</h3>
    <p>Move the gray cube on top of the yellow one. Then move both cubes on top of last cube.
    </p>

    <h3>Why is it wrong?</h3>
    <p>Two cubes are moved at the same time.</p>

    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
</negative-example>

<negative-example>
  <div style="display: flex;">
    <div style='width: 200px;'>
    <h3>Before</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_03_00002_first.jpg" width="200px"
         alt="The cubes are crumbled" />
    </div>

    <div style='flex-grow: 1;'>
    <h3>After</h3>
    <img src="https://nalanbot-images2.s3.amazonaws.com/tower_03_00002_last.jpg" width="200px"
         alt="The cubes are stacked" />
    </div>
  </div>

    <h3>Wrong Response</h3>
    <p>The tower is made with a white cube, a gray cube and a blue cube.</p>

    <h3>Why is it wrong?</h3>
    <p>This a <b>description</b> of the second image and not a step-by-step instruction.</p>
    
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
    &nbsp;<br/>
</negative-example>

