{% extends 'mturk.html' %}

{% block page %}
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
  </head>
<body>
  <crowd-form answer-format="flatten-objects">

    <crowd-instructions link-text="View instructions" link-type="button">
        {% block instructions %}
              {% include 'stepbystep-instructions.html' %}
        {% endblock %}
    </crowd-instructions>

  <div style="display: flex;">
    <div style='width: 400px;'>
    <h3>Before</h3>
      <img src="{{ before }}" alt="Crumbled cubes" />
    </div>

    <div style='flex-grow: 1;'>
    <h3>After</h3>
      <img src="{{ after }}" alt="Stacked cubes" />
    </div>
  </div>

    <h3>Response</h3>
    <p>Write how you would explain a 5 years old child how to stack cubes step-by-step, while using cubes lying on the left image to obtain the tower in the right image.</p>

    <crowd-text-area auto-focus name="stepByStep" placeholder="Type what you would say here..." required></crowd-text-area>

  </crowd-form>
</body>
</html>
{% endblock %}
