{% extends 'mturk.html' %}

{% block page %}
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
    <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
  </head>
<body>
  <crowd-form answer-format="flatten-objects">

  <div style="display: flex;">
    <div style='width: 400px;'>
    <h3>Before</h3>
      <img src="{{ before }}" alt="Crumbled cubes" />
    </div>

    <div style='flex-grow: 1;'>
    <h3>After</h3>
      <img src="{{ after }}" alt="Stacked cubes" />
    </div>
  </div>

    <h3>Task</h3>
    <p><b>Please read the instructions before starting the task!</b>
    <crowd-instructions link-text="View instructions" link-type="button">
        {% block instructions %}
              {% include 'stepbystep-instructions.html' %}
        {% endblock %}
    </crowd-instructions>

    </p>
    <p>Explain to a 5 year old to stack cubes in a step-by-step manner (from left image to the right image).
      Please provide three different instructions to build the tower.
    </p>

    <h3>Response</h3>
    <crowd-text-area auto-focus name="stepByStep1" placeholder="Instruction 1..." required></crowd-text-area>
    <crowd-text-area auto-focus name="stepByStep2" placeholder="Instruction 2..." required></crowd-text-area>
    <crowd-text-area auto-focus name="stepByStep3" placeholder="Instruction 3..." required></crowd-text-area>

  </crowd-form>
</body>
</html>
{% endblock %}
